.html, body {
   font-family: fantasy;
   font-size: 20px;
}

.draw-button {
   padding: 32px 62px!important;
   font-weight: 500;
   font-size: x-large;
}

.header img {
   float: left;
   width: 55px;
   height: 55px;
   position: relative;
   top: 5px;
 }
 
 .header h2 {
   position: relative;
   left: 20px;
   font-family: fantasy;
 }